<nav class="navbar navbar-light" style="background-color: #e3f2fd; margin-bottom: 20px; ">
    <div class="container-fluid">
        <img src="https://i.pinimg.com/originals/60/0d/80/600d801ce94296dfa7508a6eb50d3b8c.png" height="30">
      <a class="navbar-brand" href="#" style="font-family: 'Times New Roman', Times, serif;">Flor de Cristal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="inicio" style="font-family: 'Times New Roman', Times, serif;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="equipo" style="font-family: 'Times New Roman', Times, serif;">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="servicio" style="font-family: 'Times New Roman', Times, serif;">Servicios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>