<nav class="bg-dark navbar-light" style="background-color: #e3f2fd;">
</nav>
 <section id="header" class="jumbotron text-center">
   <h1 class="display-3" style="color: #000000;">𝓕𝓵𝓸𝓻 𝓭𝓮 𝓒𝓻𝓲𝓼𝓽𝓪𝓵</h1>
   <p class="lead" style="font-family: fantasy; color: #000000;">Tengo una pequeña flor nacida sin darme cuenta en medio del corazón.</p>
</section>

<section id="gallery">
<div class="container">
  <div class="row">
  <div class="col-lg-4 mb-4">
  <div class="card">
    <img src="https://i.pinimg.com/originals/97/8b/56/978b5602aef6d3f8443343a25c0651e3.jpg" alt="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"></h5>
    </div>
   </div>
  </div>
<div class="col-lg-4 mb-4">
<div class="card">
    <img src="https://i.pinimg.com/originals/31/34/18/3134187089d57fe4651403a7900f127f.jpg" alt="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"></h5>
    </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_960_720.jpg" alt="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"></h5>
    </div>
   </div>
  </div>
</div>
</div>
</section>
