<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/dDW27U/Work_Section2_freelance_img1.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>¿Como empezamos?</h3>
                        <p class="text-muted">Nacida como una pequeña floreria familiar a nivel local en Italia a inicios de 1939, teniendo que  migrar poco despues por el comienzo de la segunda guerra mundial
                        </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>¿Que paso depues?</h3>
                                        <p class="text-muted">Despues de tener que dejar Italia nos establecimos en distintas partes del mundo sobreviviendo y perdurando en el tiempo
                                        </p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://image.ibb.co/cHgKnU/Work_Section2_freelance_img2.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://image.ibb.co/ctSLu9/Work_Section2_freelance_img3.png" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h3>¿Que estamos haciendo</h3>
                                        <p class="text-muted">Actualmente para no quedarnos atras y debido a la pandemia ocurrida en 2020 decidimos expandirnos a las redes.</p>
                        </div>
                    </div>
         

