<!-- inspired by https://adobe.ly/39tvYSM -->
<h1>Nuestra breve historia</h1>

<blockquote class="q-card q-card-color-1">
  <div class="content">Nacida como una pequeña floreria familiar a nivel local en Italia a inicios de 1939, teniendo que  migrar poco despues por el comienzo de la segunda guerra mundial</div>
</blockquote>

<blockquote class="q-card q-card-color-2">
  <div class="content">Despues de tener que dejar Italia nos establecimos en distintas partes del mundo sobreviviendo y perdurando en el tiempo</div>
</blockquote>

<blockquote class="q-card q-card-color-3">
  <div class="content">Actualmente para no quedarnos atras y debido a la pandemia ocurrida en 2020 decidimos expandirnos a las redes.</div>
</blockquote>

